.itemCard {
    width: 95%;
    min-height: 80px;
    max-height: 120px;
    overflow: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: var(--card-bg-color);
    border: 1px solid var(--heading-text-highlight-color);
    margin: 10px;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.52);
    cursor: move;
    overflow-y: auto;
}
.itemCard:hover {
    background: var(--statusBoxBlock-bg-color);
}
.edit-icon-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.item-label {
    text-overflow: ellipsis;
    overflow: hidden;
}
