.list-wrapper {
    display: flex;
    justify-content: space-around;
    background: var(--primary-fg-color);
}
.list-item {
    width: 30%;
    justify-content: center;
}
.list-font {
    text-align: center;
    font-weight: 700;
    border-bottom: 5px solid var(--heading-text-highlight-color);
}

.alert-wrapper {
    position: fixed;
    top: 10px;
    z-index: 2;
}